@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

.article {
  margin-top: 150px;
  .article_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 94px;
    h1 {
      font-family: Roboto;
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 0em;
      text-align: left;
      color: #211f54;
    }
    .article_btn {
      display: flex;
      align-items: center;
      gap: 28px;
      .bnt_1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 217px;
        height: 72px;
        background-color: #0075ff;
        color: #fff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 14px;
      }
      .bnt_1:hover {
        box-shadow: 0.75px 1px 4px 6px #ccc;
      }
      .bnt_2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 217px;
        height: 72px;
        border: 1px solid #ccc;

        color: #211f54;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 14px;
      }
      .bnt_2:hover {
        box-shadow: 0.75px 1px 4px 6px #ccc;
      }
    }
  }
  .article_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 28px;
    .article_card {
      display: flex;
      align-items: center;
      flex-direction: column;
      .article_img{
        img{
          width: 100%;
          height: 100%;
        }
      }
      .article_texts {
        display: flex;
        background-color: #fff;
        border-radius: 14px;
        width: 80% !important;
        gap: 16px;
        padding: 50px;
        position: relative;
        top: -66px !important;
        box-shadow: 0px 2px 6px 0px #14142b0a;

        flex-direction: column;
        h1 {
          font-family: Roboto;
          font-size: 24px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: left;
          color: #211f54;
        }
        p {
          font-family: Roboto;
          font-size: 21px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: #6e7191;
        }
        .point {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
          }
          .box {
            height: 50px;
            width: 50px;
            background-color: #0075ff;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .article {
    margin-top: 150px;
    .article_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 95px;
      h1 {
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #211f54;
      }
      .article_btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 14px;
        .bnt_1 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 217px;
          height: 72px;
          background-color: #0075ff;
          color: #fff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          border-radius: 14px;
        }
        .bnt_1:hover {
          box-shadow: 0.75px 1px 4px 6px #ccc;
        }
        .bnt_2 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 217px;
          height: 72px;
          border: 1px solid #ccc;

          color: #211f54;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          border-radius: 14px;
        }
        .bnt_2:hover {
          box-shadow: 0.75px 1px 4px 6px #ccc;
        }
      }
    }
    .article_cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      gap: 28px;
      .article_card {
        display: flex;
        align-items: center;
        flex-direction: column;
        .article_texts {
          display: flex;
          background-color: #fff;
          border-radius: 14px;
          width: 90%;
          gap: 16px;
          padding: 50px;
          position: relative;
          top: -66px;
          box-shadow: 0px 2px 6px 0px #14142b0a;

          flex-direction: column;
          h1 {
            font-family: Roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: #211f54;
          }
          p {
            font-family: Roboto;
            font-size: 21px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #6e7191;
          }
          .point {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-family: Roboto;
              font-size: 18px;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: left;
            }
            .box {
              height: 50px;
              width: 50px;
              background-color: #0075ff;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 392px) {
  .article {
    margin-top: 150px;
    .article_head {
      display: flex;

      align-items: center;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 95px;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #211f54;
      }
    
    }
    .article_cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      gap: 28px;
      .article_card {
        display: flex;
        align-items: center;
        flex-direction: column;
        .article_img{
          img{
            width: 100%;
            height: 260px;
          }
        }
        .article_texts {
          display: flex;
          background-color: #fff;
          border-radius: 14px;
          width: 90%;
          gap: 16px;
          padding: 50px;
          position: relative;
          top: -48px !important;
          box-shadow: 0px 2px 6px 0px #14142b0a;

          flex-direction: column;
       
        }
      }
    }
  }
}
